@import url('./css-blocks/normalize.css');
@import url('./css-blocks/base.css');

@import url('./css-blocks/header.css');
@import url('./css-blocks/contacts.css');
@import url('./css-blocks/sidebar.css');
@import url('./css-blocks/breadcrumbs.css');
@import url('./css-blocks/page-content.css');
@import url('./css-blocks/tariffs.css');
@import url('./css-blocks/news.css');
@import url('./css-blocks/feedbacks.css');
@import url('./css-blocks/promo.css');
@import url('./css-blocks/pagination.css');
@import url('./css-blocks/form.css');
@import url('./css-blocks/partners.css');
@import url('./css-blocks/team.css');
@import url('./css-blocks/footer.css');
@import url('./css-blocks/socials.css')