body {
    margin: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
*/
.container {
    width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: #4b73b5;
}

.header__container {
    position: relative;
    min-height: 76px;
}

.logo--header {

    display: inline-block;
    float: left;
    left: 0;
    margin-top: 10px;
}
button{
    margin-left: 70px;
    padding: 0;
    background: none;
    border: none;
    right: 0;
    
}


.contacts {
    display: inline-block;
    float: right;
    right: 0;
    margin-top: 10px;
    text-align: right;
}

.contacts__phone {
    font-size: 21px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.contacts__work-schedule {
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    opacity: 0.8;
    display: block;
    position: relative;
    text-align: right;
}

.contacts__work-schedule-block {
    display: none;
    position: absolute;
    height: 41px;
    width: 125px;
    background-color: #fff;
    box-shadow: 0.2em 0.2em 8px rgba(122, 122, 122, 0.5);
    border-radius: 3px;
    margin-top: 20px;
    right: 0;
    text-align: center;
    padding: 10px 20px;


}

.contacts__work-schedule:hover {
    color: #fff;
    opacity: 1;
    cursor: pointer;
}

.contacts__work-schedule:hover .contacts__work-schedule-block {
    display: block;

}

.contacts__week {
    font-weight: bold;
    color: #4b73b5;
}

.contacts__lunch {
    font-weight: normal;
    color: black;
    left: 0;
}

.banner {
    margin-top: 13px;
    margin-bottom: 16px;
}

.sidebar {
    width: 195px;
    margin-top: 45px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.page-content {
    width: 901px;
}

.page-content,
.sidebar {
    display: inline-block;
    vertical-align: top;
}

.nav__icon,
.nav__title {
    display: inline-block;
    vertical-align: top;
}

.nav__title {
    margin-left: 15px;
    margin-bottom: 30px;
    letter-spacing: 2.4px;
    font-size: 12px;
    font-weight: bold;
    color: #4b73b5;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__link {
    text-decoration: none;
}

.nav__item {
    list-style-type: none;
}

.nav__link--active {}

.nav__icon {
    width: 23px;
    height: 18px;
    background: center center no-repeat;
}

.nav__icon--main {
    background-image: url(./images/icons-sidebar/main_icon.png);
}

.nav__icon--feed {
    background-image: url(./images/icons-sidebar/feed_icon.png);
}

.nav__icon--team {
    background-image: url(./images/icons-sidebar/team_icon.png);
}

.nav__link:hover .nav__icon--main {
    background-image: url(./images/icons-sidebar/main_icon_hover.png);
}

.nav__link:hover .nav__icon--feed {
    background-image: url(./images/icons-sidebar/feed_icon_hover.png);
}

.nav__link:hover .nav__icon--team {
    background-image: url(./images/icons-sidebar/team_icon_hover.png);
}

.nav__link:hover .nav__title {
    color: black;
}

.nav__item--active .nav__icon--main {
    background-image: url(./images/icons-sidebar/main_icon_hover.png);
}

.nav__item--active .nav__title {
    color: black;
}

h1 {
    margin: 0;
    line-height: 20px;
}

.title {
    font-weight: bold;
    font-size: 49px;
}

.tariffs__item {
    margin: 60px 25px;
    display: inline-block;
    width: 238px;
    height: 450px;
    padding: px;
    border: 2px solid #fff;

}

.tariffs__list {
    margin-top: 17px;
    line-height: 30px;
}

.tariffs__name {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.tariffs__desc {
    font-size: 18px;
    font-weight: 300;
    white-space: pre-line;
    text-align: center;
}

.tariffs__features {

    font-size: 18px;
    font-weight: 300;
    margin-left: 40px;
    
}

.tariffs__features-item {
    list-style-type: disc;
    text-align: left;
    
}

.tariffs__cost {
    font-size: 54px;
    font-weight: regular;
    text-align: center;
    margin: 35px auto;
}

.tariffs__item:hover {
    border: 2px solid #f9f9fb;
}

.tariffs__icon--flower {
    background: center center no-repeat;
    background-image: url(./images/tariffs-icons/icon-flower.png)
}

.tariffs__icon--star {
    background: center center no-repeat;
    background-image: url(./images/tariffs-icons/icon-star.png)
}

.tariffs__icon--palette {
    background: center center no-repeat;
    background-image: url(./images/tariffs-icons/icon-palette.png)
}

.tarrifs__icon {
    width: 70px;
    height: 70px;
    background-color: #4b73b5;
    border-radius: 50%;
    margin: 30px auto;
}

.news__item {
    /*margin-bottom: 20px;
    margin-top: 20px;*/
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f9f9fb;
    vertical-align: center;

}

.news__item:last-child {
    border-bottom: none;
}

.news__pic {
    border-radius: 50%;
    display: inline-block;

}

.news__description {
    right: 0;
    width: 655px;
    display: inline-block;
    padding-left: 12px;

}

.news__date {
    font-weight: 300;
    font-size: 14px;
    color: #656464;

}

.news__title {
    margin-top: 5px;
    font-size: 18px;
}

.news__description-text {
    font-size: 18px;
    line-height: 30px;
}

.pagination {
    margin-top: 30px;
    margin-left: 250px;
    display: inline-block;
    
}

.pagination__display {
    display: inline-block;
    margin-right: 10px;
    font-weight: 300;
    font-size: 14px;
    color: #656464;

}

.pagination__controlls {
    display: inline-block;
    
    
}
.pagination__prev{
    margin-right: 10px;
    text-decoration: none;
    opacity: 0.5;
    color:#000;

}

.pagination__pages {
    display: inline-block;
      
}
.pagination__next{
    text-decoration: none;
    color:#000;
}

.pagination__pages-item {
    display: inline-block;
    
      
}

.pagination__link{
    text-decoration: none;
    font-weight: bold;
    color:#000;
    padding: 2px 7px;
}
.pagination__link--active{
    width: 20px;
    height: 20px;
    border-radius: 1px;
    background-color: #4b73b5;
    color: #fff;
}

.footer {
    margin-top: 60px;
    background-color: #4b73b5;
    color: #fff;
    vertical-align: middle;

}

.footer__container {
    position: relative;
    min-height: 76px;
}

.logo--footer {
    
    position: absolute;
    top: 20px;
    left: 490px;
}

.footer__copy {
    display: inline-block;
    left: 0;
    width: 250px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    position: absolute;
    top: 12px;
}

.footer__loftschool{
    color: #fff;
}

.socials {
    
    right: 0;
    position: absolute;
    top: 12px;
    
}
.socials__title{
    margin: 0;
    font-size: 14px;
    font-weight: normal;
}
.socials__item{
    display: inline-block;
    
}

.socials__icon--vk{
    background: center center no-repeat;
    background-image: url(./images/footer-socials/vk.png)
}
.socials__icon--fb{
    background: center center no-repeat;
    background-image: url(./images/footer-socials/fb.png)
}
.socials__icon--google{
    background: center center no-repeat;
    background-image: url(./images/footer-socials/google.png)
}
.socials__icon--twit{
    background: center center no-repeat;
    background-image: url(./images/footer-socials/twitter.png)
}
.socials__icon--email{
    background: center center no-repeat;
    background-image: url(./images/footer-socials/mail.png)
}
.socials__icon{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 6px;
    opacity: 0.7;

}
.socials__icon--vk:hover{
    opacity: 1;
}
.socials__icon--fb:hover{
    opacity: 1;
}
.socials__icon--google:hover{
    opacity: 1;
}
.socials__icon--twit:hover{
    opacity: 1;
}
.socials__icon--email:hover{
    opacity: 1;
}
