
.contacts__phone {
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.contacts__btn {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
  opacity: 0.8;
  display: block;
  text-align: right;
}

.contacts__work-schedule-block {
  display:none;
  height: 70px;
  width: 160px;
  background-color: #fff;
  box-shadow: 0.2em 0.2em 8px rgba(122, 122, 122, 0.5);
  border-radius: 3px;
  margin-top: 15px;
  text-align: center;
  padding: 20px 15px;
  


}

.contacts__work-schedule:hover .contacts__btn{
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.contacts__work-schedule:hover .contacts__work-schedule-block {
  display: block;
  position: absolute;
  transition: 0.7s;

}

.contacts__week {
  font-weight: bold;
  color: #4b73b5;
  font-size: 14px;
}

.contacts__lunch {
  font-weight: normal;
  color: black;
  font-size: 14px;
}