.footer {
  background-color: #4b73b5;
  color: #fff;
 
}

.footer__container {
  min-height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer__copy {

 
  width: 250px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  
}

.footer__loftschool {
  color: #fff;
}