.wrapper--intro {
  height: 100vh;
}

.intro__img {
  height: 100%;
  background-image: url(../images/intro/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro__logo {
  margin-bottom: 45px;

}
.intro__animation{

}

.intro__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.intro__button {

  width: 207px;
  height: 45px;
  border: 1px solid #1c5bc4;
  color: #1c5bc4;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}


.intro__button:after {
  content: " ";
  height: 15px;
  width: 15px;
  margin-left: 10px;
  background-image: url(../images/intro/main_icon.png);
  background-repeat: no-repeat;

}

.intro__button:hover {
  transition: 0.3s;
  background-color: #1c5bc4;
  color: #fff;
}

.intro__button:hover::after {
  background-image: url(../images/intro/main_icon_hover_white.png);
  background-repeat: no-repeat;
}