.news__item {
 
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f9f9fb;
  vertical-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.news__item:last-child {
  border-bottom: none;
}

.news__pic {
  border-radius: 50%;
}

.news__description {
  right: 0;
  width: 655px;
  
}

.news__date {
  font-weight: 300;
  font-size: 14px;
  color: #656464;
}

.news__title {
  margin-top: 5px;
  font-size: 18px;
}

.news__description-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: normal;
}