.news__item {
 
  padding-top: 40px;
  padding-bottom: 20px;
  vertical-align: top;
  margin-right: 25px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.news__list{
  display: inline-flex;
}


.news__pic {
  border-radius: 50%;
  margin-bottom: 40px;
  width: 160px;
  height: 160px;
}


.news__date {
  font-weight: 300;
  font-size: 14px;
  color: #656464;
}

.news__title {
  margin-top: 5px;
  font-size: 18px;
}

.news__description-text {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 300;
}