.partners__list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.partners__item{
  margin-bottom: 60px;
  margin-right: 135px;
}
.partners__item:nth-child(3n){
  margin-right: 0;
}
.partners__logo{
  filter: grayscale(100%);
  opacity: 0.7;
}

.partners__logo--bmp:hover{
  filter: none;
  opacity: 1;
  transition: 0.7s;
}
.partners__logo--tetra:hover{
  filter: none;
  opacity: 1;
  transition: 0.7s;
}
.partners__logo--sib-avia:hover{
  filter: none;
  opacity: 1;
  transition: 0.7s;
}
.partners__logo--one-air:hover{
  filter: none;
  opacity: 1;
  transition: 0.7s;
}
.partners__logo--bing-air:hover{
  filter: none;
  opacity: 1;
  transition: 0.7s;
}
.partners__logo--ural:hover{
  filter: none;
  opacity: 1;
  transition: 0.7s;
}