.promo{
  background-color: #4b73b5;
  background-image: url(../images/pattern.png);
  min-height: 290px;
  padding: 12px 15px;
}

.promo__description{
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-weight: 300;
}
.promo__link, .promo__phone{
color: #fff;
text-decoration: none;
font-weight: bold;
}
.promo__link{
  text-decoration:underline; 
}