
.socials__title {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.socials__list {
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

.socials__icon--vk {
  background: center center no-repeat;
  background-image: url(../images/footer-socials/vk.png)
}

.socials__icon--fb {
  background: center center no-repeat;
  background-image: url(../images/footer-socials/fb.png)
}

.socials__icon--google {
  background: center center no-repeat;
  background-image: url(../images/footer-socials/google.png)
}

.socials__icon--twit {
  background: center center no-repeat;
  background-image: url(../images/footer-socials/twitter.png)
}

.socials__icon--email {
  background: center center no-repeat;
  background-image: url(../images/footer-socials/mail.png)
}

.socials__icon {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 10px;
  opacity: 0.7;

}

.socials__icon--vk:hover {
  opacity: 1;
}

.socials__icon--fb:hover {
  opacity: 1;
}

.socials__icon--google:hover {
  opacity: 1;
}

.socials__icon--twit:hover {
  opacity: 1;
}

.socials__icon--email:hover {
  opacity: 1;
}