
.socials__title {
  margin-top: 30px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.socials__list {
  margin-top: 10px;  
  vertical-align: middle;
  padding:0 50px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row nowrap;
}

.socials__link {
  text-decoration: none;
  transition: 0.7s;
}

.socials__item {
  list-style-type: none;
  
}

 .socials__icon--vk:after {
   content: "";
   display: block;
  width: 13px;
  height: 9px;
  background-image: url(../images/css_sprites.png);
  background-position: -10px -120px;
  background-repeat: no-repeat;
 
  
}

.socials__icon--fb:after  {
  content: "";
  display: block;
 width: 8px;
 height: 15px;
 background-image: url(../images/css_sprites.png);
 background-position: -133px -39px;
 background-repeat: no-repeat;
 
}

.socials__icon--google:after  {
  content: "";
  display: block;
 width: 17px;
 height: 11px;
 background-image: url(../images/css_sprites.png);
 background-position: -45px -86px;
 background-repeat: no-repeat;
}

.socials__icon--twit:after  {
  content: "";
  display: block;
 width: 13px;
 height: 11px;
 background-image: url(../images/css_sprites.png);
 background-position: -133px -10px;
 background-repeat: no-repeat;
}

.socials__icon--email:after  {
  content: "";
  display: block;
 width: 14px;
 height: 11px;
 background-image: url(../images/css_sprites.png);
 background-position: -80px -86px;
 background-repeat: no-repeat;
}



.socials__icon--vk:hover::after {
  opacity: 0.6;
  transition: 0.3s;
}

.socials__icon--fb:hover:after  {
  opacity: 0.6;
  transition:0.3s;
}

.socials__icon--google:hover:after  {
  opacity: 0.6;
  transition: 0.3s;
}

.socials__icon--twit:hover:after  {
  opacity: 0.6;
  transition: 0.3s;
}

.socials__icon--email:hover:after  {
  opacity: 0.6;
  transition: 0.3s;
}